button.ui-multiselect {
	max-width: 100%;
	border: 1px solid $(border-color-mild);
	color: $(text-color-strong);
	background: white;
	padding: 0.25rem 0.5rem;
	line-height: 1.75rem;
	vertical-align: middle;
	border-radius: 3px;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-right: auto;
	
	> .ui-icon {
		font-size: 0.8rem;
		padding-top: 5px;
	}
}

.ui-multiselect-menu {
	z-index:10000;
	background: white;
	border: 1px solid $(border-color-mild);
}

.ui-multiselect-checkboxes {
	overflow: auto !important;
	max-height: 200px;
	
	.ui-state-hover {
		background: $(background-color-mild);
	}
}

.profile-manager-multiselect {
	visibility: hidden;
	display: inline-block !important;
	width: 0;
	height: 0;
	padding: 0;
	margin: 0 -2px 0 0;
}
