#custom_fields_ordering {
	max-width: 600px;
}

#custom_fields_ordering .elgg-item {
	padding: 0 0 0.5rem;
	border: none;
}

#custom_fields_category_list_custom .droppable-hover {
	background: #000000;
}

#custom_fields_category_list_custom .droppable-hover a {
	color: #FFFFFF;
}

#custom_profile_field_category_all,
#custom_profile_field_category_all,
#custom_profile_field_category_0,
#custom_fields_category_list_custom .elgg-item,
#custom_fields_profile_types_list_custom .elgg-item {
	border: 1px solid #CCCCCC;
	margin: 0 2px 0 0;
	padding: 5px;
	word-wrap: break-word;
	display: inline-block;
	border-radius: 5px;
}

#custom_fields_category_list_custom .custom_fields_category_selected {
	background: #BBBBBB;
}

#custom_fields_category_list_custom > .elgg-list {
	display: inline-block;
}

.custom_fields_category .elgg-icon-drag-arrow {
	cursor: move;
}

.custom_profile_type_description {
	display: none;
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px dotted $(border-color-soft);
}

#custom_fields_ordering .custom_field {
	border: 1px solid $(border-color-soft);
	cursor: move;
	padding: 5px;
	border-radius: 5px;
}

#custom_fields_form,
#custom_fields_category_form,
#custom_fields_profile_type_form {
	min-width: 700px;
}

.field_config_metadata_option {
	color: $(border-color-soft);
	margin-left: 0.2rem;
}

.field_config_metadata_option_enabled {
	color: $(border-color-highlight);
}
