#custom_fields_ordering {
	width: 518px;
}

#custom_fields_category_list_custom .droppable-hover {
	background: #000000;
}

#custom_fields_category_list_custom .droppable-hover a {
	color: #FFFFFF;
}

#custom_profile_field_category_all,
#custom_profile_field_category_all,
#custom_profile_field_category_0,
#custom_fields_category_list_custom .elgg-item,
#custom_fields_profile_types_list_custom .elgg-item {
	border: 1px solid #CCCCCC;
	margin: 0 2px 0 0;
	padding: 5px;
	word-wrap: break-word;
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#custom_fields_category_list_custom .custom_fields_category_selected {
	background: #BBBBBB;
}
.custom_field .elgg-icon-settings-alt,
.custom_profile_type .elgg-icon-settings-alt,
.custom_fields_category .elgg-icon-settings-alt,
.custom_field .elgg-icon-delete-alt,
.custom_profile_type .elgg-icon-delete-alt,
.custom_fields_category .elgg-icon-delete-alt {
	vertical-align: text-bottom;
	cursor: pointer;
}

.custom_fields_category .elgg-icon-drag-arrow {
	cursor: move;
	float: left;
}

.custom_profile_type_description {
	display: none;
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #CCCCCC;
}

#custom_fields_ordering .elgg-item {
	background: #FFFFFF;
}

#custom_fields_ordering .custom_field {
	border: 1px solid #CCCCCC;
	cursor: move;
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#custom_fields_form,
#custom_fields_category_form,
#custom_fields_profile_type_form {
	width: 700px;
}

.field_config_metadata_option_enabled {
	color: #090;
	cursor: pointer;
}

.field_config_metadata_option_disabled {
	color: #f00;
	cursor: pointer;
}
