/* edit profile */
@media $(media-tablet-up) {
	.profile-manager-edit-profile-field > .elgg-field-input {
		display: flex;
		
		> .edit-profile-input {
			flex-grow: 1;
		}
		
		> .edit-profile-access > .elgg-input-access {
			margin-left: 1rem;
		}
	}
}

.profile-manager-simple-access-controlled .edit-profile-access {
	display: none;
}

.profile-manager-input-pm-rating {
	margin-right: auto;
}
