/* widgets */
#widget_profile_completeness_container {
	border: 1px solid $(state-success-border-color);
	position: relative;
}

#widget_profile_completeness_progress {
	position: absolute;
	line-height: 20px;
	font-weight: bold;
	color: $(state-success-font-color);
	width: 100%;
	text-align: center;
}

#widget_profile_completeness_progress_bar {
	background: $(state-success-background-color);
	height: 20px;
}

/* edit profile */
@media $(media-tablet-up) {
	.profile-manager-edit-profile-field > .elgg-field-input {
		display: flex;
		
		> .edit-profile-input {
			flex-grow: 1;
		}
		
		> .edit-profile-access > .elgg-input-access {
			margin-left: 1rem;
		}
	}
}

.profile-manager-simple-access-controlled .edit-profile-access {
	display: none;
}

.ui-multiselect,
.profile-manager-input-pm-rating {
	margin-right: auto;
}

/* fix for max-height multi-select drop down*/
.ui-dropdownchecklist-dropcontainer {
	max-height: 150px;
}
/* end fix */
