#widget_profile_completeness_container {
	border: 1px solid var(--elgg-state-success-border-color);
	position: relative;
}

#widget_profile_completeness_progress {
	position: absolute;
	line-height: 20px;
	font-weight: bold;
	color: var(--elgg-state-success-font-color);
	width: 100%;
	text-align: center;
}

#widget_profile_completeness_progress_bar {
	background: var(--elgg-state-success-background-color);
	height: 20px;
}
